.BIG {
  .card {
    margin-bottom: 30px;
  }
}

.SMALL {
  .card {
    display: inline-flex;
    height: 300px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .skeletons {
    margin: 16px 0;
  }
}

.ArticleList {
  height: calc(100% - 250px);
}

.ArticleListRedesigned {
  overflow-y: hidden;
}
