.app_purple_theme {
  --bg-color: #f4f4fb;
  --inverted-bg-color: #8381ff;
  --primary-color: #57b6ff;
  --inverted-primary-color: #f4f4fb;
  --secondary-color: #179aff;
  --inverted-secondary-color: rgb(171 171 171);

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;
}
