.app_purple_theme {
  --bg-color: #f4f4fb;
  --inverted-bg-color: hsl(241deg 100% 75%);
  --primary-color: #57b6ff;
  --inverted-primary-color: #fdc9c9;
  --secondary-color: #179aff;
  --inverted-secondary-color: rgb(171 171 171);

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #d6d6d6;

  // listbox
  --listbox-bg: #d6d6d6;

  // redesigned
  --dark-bg-redesigned: #fff;
  --bg-redesigned: #f3eff6;
  --light-bg-redesigned: #ebe2f1;
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --icon-redesigned: #a07aeb;
  --accent-redesigned: #6f00ff;
}
