.app_purple_theme {
  --bg-color: #f4f4fb;
  --inverted-bg-color: #8381ff;
  --primary-color: #57b6ff;
  --inverted-primary-color: #f4f4fb;
  --secondary-color: #179aff;
  --inverted-secondary-color: rgb(171 171 171);

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #d6d6d6;

  // listbox
  --listbox-bg: #d6d6d6;

  // redesigned
  --dark-bg-redesigned: #fff3d6;
  --bg-redesigned: #f0c048;
  --light-bg-redesigned: #f2d791;
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --icon-redesigned: #4875f0;
  --accent-redesigned: #1d59ff;
}
