.TextareaWrapper {
  display: flex;
  align-items: center;
  border-radius: 24px;
  padding: 8px 16px;
  border: 2px solid var(--icon-redesigned);
  width: 100%;
}

.s {
  height: 100px;
}

.m {
  height: 200px;
}

.l {
  height: 300px;
}

.addonLeft,
.addonRight {
  display: flex;
}

.withAddonLeft {
  padding-left: 8px;
}

.withAddonRight {
  padding-right: 8px;
}

.focused {
  border: 2px solid var(--accent-redesigned);

  .addonLeft svg,
  .addonRight svg {
    color: var(--accent-redesigned);
  }
}

.textarea {
  border: none;
  outline: none;
  width: 100%;
  color: var(--text-redesigned);
  background: none;
  resize: vertical;

  &::placeholder {
    color: var(--hint-redesigned);
  }
}

.readonly {
  opacity: 0.7;
}

.noWrap {
  white-space: nowrap;
}
